@using IdentityServer4.Admin.Infrastructure
@{
    bool isAdmin = false;
    if (!true.Equals(ViewData["signed-out"]))
    {
        if (Context.User != null)
        {
            isAdmin = Context.User.IsInRole(AdminConsts.AdminName);
        }
    }
}
<div class="col-xs-12">
    <div class="box">
        <div class="box-header">
            <div class="box-title">
                基本资料
            </div>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label>用户名</label>
                        <input class="form-control" type="text"
                               @if (!isAdmin)
                               {
                                   @Html.Raw("readonly='readonly'")
                               }
                               v-model="userName" placeholder="用户名">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>邮箱</label>
                        <input class="form-control" type="text"
                               @if (!isAdmin)
                               {
                                   @Html.Raw("readonly='readonly'")
                               }
                               v-model="email" placeholder="邮箱">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>姓</label>
                        <input class="form-control" type="text" v-model="firstName" placeholder="姓">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>名</label>
                        <input class="form-control" type="text" v-model="lastName" placeholder="名">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label>手机号码</label>
                        <input class="form-control" type="text" v-model="phoneNumber" placeholder="电话">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>公司电话</label>
                        <input class="form-control" type="text" v-model="officePhone" placeholder="电话">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>性别</label>
                        <select id="sex" class="form-control select2" style="width: 100%;">
                            <option value="Male" selected="selected">男</option>
                            <option value="Female">女</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>角色</label>
                        <input class="form-control" readonly="readonly" type="text" v-model="roles">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label>团队</label>
                        <select id="group" class="form-control select2"
                                @if (!isAdmin)
                                {
                                    @Html.Raw("disabled='disabled'")
                                }
                                style="width: 100%;">
                            <option value="无">无</option>
                            @foreach (var group in (HashSet<string>) ViewData["Group"])
                            {
                                <option value="@group">@group</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>职位</label>
                        <select id="title" class="form-control select2"
                                @if (!isAdmin)
                                {
                                    @Html.Raw("disabled='disabled'")
                                }
                                style="width: 100%;">
                            <option value="无">无</option>
                            @foreach (var title in (HashSet<string>) ViewData["Title"])
                            {
                                <option value="@title">@title</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>职级</label>
                        <select id="level" class="form-control select2"
                                @if (!isAdmin)
                                {
                                    @Html.Raw("disabled='disabled'")
                                }
                                style="width: 100%;">
                            <option value="无">无</option>
                            @foreach (var level in (HashSet<string>) ViewData["Level"])
                            {
                                <option value="@level">@level</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.box-body -->
        <div class="box-footer clearfix">
            <button type="button" class="btn btn-default btn-sm" @@click="update()">更新</button>
        </div>
    </div>
    <!-- /.box -->
</div>
<div class="col-xs-12">
    <div class="box">
        <div class="box-header">
            <div class="box-title">
                更新密码
            </div>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label>旧密码</label>
                        <input class="form-control" type="password" v-model="oldPassword" placeholder="旧密码">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>新密码</label>
                        <input class="form-control" type="password" v-model="newPassword" placeholder="新密码">
                    </div>
                </div>
            </div>
        </div>
        <!-- /.box-body -->
        <div class="box-footer clearfix">
            <button type="button" class="btn btn-default btn-sm" @@click="changePassword()">更新</button>
        </div>
    </div>
    <!-- /.box -->
</div>

@section scripts{
    <environment names="Development">
        <script src="~/js/profile.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/profile.min.js" asp-append-version="true"></script>
    </environment>
}